server:
  port: 8080

spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders: "*"
            allow-credentials: true
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=0

        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=0

        - id: lost-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/lost/**
          filters:
            - StripPrefix=0

        - id: found-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/found/**
          filters:
            - StripPrefix=0

        - id: matching-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/matching/**
          filters:
            - StripPrefix=0

        - id: handover-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/handovers/**
          filters:
            - StripPrefix=0

        - id: message-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/messages/**
          filters:
            - StripPrefix=0

        - id: notification-service
          uri: http://localhost:8088
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=0

        - id: admin-service
          uri: http://localhost:8089
          predicates:
            - Path=/api/admin/**
          filters:
            - StripPrefix=0
jwt:
  secret: "SUPER-STRONG-HYPER-ULTRA-DEV-KEY"
  whitelist-paths: /api/auth/login,/api/auth/register









